.header {
	width: 800px;
	height: 80px;
	text-align: center;
	background-color: cadetblue
}

.footer {
	background-color: antiquewhite;
	text-align:center
}

.leftMenu {
	height: 500px;
	background-color: #f1fff0;
	width: 150px;
}

.mainContent {
	height: 500px;
	background-color: azure
}

a {
	display: block;
	padding: 5px;
}